<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/new">주소록 추가하기</a></li>
    </ul>
    <ul>
        <% addresses.forEach(function(i){%>
        <li><a href="/index/<%= i._id%>"><%= i.name %></a></li>
        <%})%>
    </ul>
</body>
</html>